body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px; /* aumentando a largura do container */
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header h1 {
  color: #333;
  font-size: 32px; /* aumentando o tamanho do título */
  margin-bottom: 30px; /* espaço extra para separar o título */
}

.moeda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; /* espaço extra entre as seções */
}

.entrada,
.selecao {
  flex: 1;
  margin-right: 20px; /* aumentando o espaço entre os campos */
}

label {
  display: block;
  margin-bottom: 10px; /* reduzindo a margem inferior dos rótulos */
  color: #666;
}

input[type="number"],
select {
  width: calc(100% - 24px); /* ajustando a largura para acomodar a margem */
  padding: 16px; /* aumentando o preenchimento */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px; /* aumentando o raio da borda */
  font-size: 18px; /* aumentando o tamanho da fonte */
  color: #333;
  background-color: #f9f9f9;
}

.resultado {
  margin-top: 30px;
  text-align: left; /* Alinhando o texto à esquerda */
}

#resultado-container {
  display: inline-block; /* Garantindo que os elementos estejam em linha */
}

#valor-destino,
#atualizacao {
  display: inline-block; /* Definindo como elementos em linha */
}

#valor-destino {
  font-weight: bold;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px; /* Adicionando espaço extra abaixo do resultado */
}

#atualizacao {
  font-size: 14px;
  color: #666;
  border: 1px solid #ccc; /* Adicionando borda */
  border-radius: 8px; /* Arredondando as bordas */
  padding: 10px; /* Adicionando preenchimento */
  margin-top: 10px; /* Adicionando espaço extra acima do texto de atualização */
}

/* Ajustando estilos para o botão */
button {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Adicionando espaço extra acima do botão */
}

button:hover {
  background-color: #0056b3;
}
